# ===== IVASMS credentials =====
IVASMS_EMAIL=rqyqmhmd28@gmail.com
IVASMS_PASSWORD=momo.@2003
IVASMS_BASE_URL=https://www.ivasms.com

# ===== Telegram bot =====
TELEGRAM_BOT_TOKEN=8287042088:AAFqzhdKPELRuHqPvQo7lWYHJMxT7jSuHTI
# Optional: admin chat id for error alerts (comma separated for multiple)
ADMIN_CHAT_IDS=8676210788

# ===== Scraper =====
HEADLESS=true
POLL_INTERVAL_MS=5000
NUMBERS_REFRESH_CRON=0 * * * *

# ===== App =====
DB_PATH=./db/data.sqlite
LOG_LEVEL=info
